<app-title [title]="title"></app-title>
<div class="container">
    <mat-card>
        <mat-card-title>
            <h1>Conquiste o sonho da casa própria</h1>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="pad-t-b">
            <p>Em apenas alguns passos fique mais perto de<br/>
            segurar as chaves :)</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary"  [routerLink]="['/proponente']">Simular financiamento</button>
        </mat-card-actions>
      </mat-card>
</div>

<footer aria-hidden="true">
  <img class="logoFooter" src="../../../assets/images/logo2x.png" alt="">
</footer>